
/* header */


header{
    width: 80%;
    height: 700px;
    margin: 0 auto;
    background-image: url("../images/header\ background.png");
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.head{
    display: flex;
    gap: 680px;
    margin-left: 125px;
}


nav{
    display: flex;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    color: white;
    
}

.headerp{
    width: 1046px;
    margin: 400px auto;
    color: white;
    font-size: 40px;
    text-align: center;
}


/* section 1 */



section{
    width: 80%;
    height: 610px;
    background-color: #2A2626;
    margin: 0 auto;
    position: relative;

    
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
    position: absolute;
    
}


.sectionpoto{
    display: flex;
    justify-content: center;
    margin-top: 194px;
    gap: 31px;
}



/* section 2 */